[Unit]

Description=gunicorn daemon for pilixar
After=network.target

[Service]

User=www-data                # Your Linux username
Group=www-data             # Nginx runs under www-data
WorkingDirectory=/home/ubuntu/pilixar    # Your project's directory
ExecStart=/home/ubuntu/box_venv/bin/gunicorn \
  --workers 3 \
  --bind 0.0.0.0:8000\pilixar.wsgi:application
Restart=always

[Install]
WantedBy=multi-user.target
